Source: bluetooth-tools
Section: devel
Priority: optional
Maintainer: DoHyun Pyun <dh79.pyun@samsung.com>, ChanYeol Park <chanyeol.park@samsung.com>, Girish A J <girish.joshi@samsung.com>, InJun Yang <injun.yang@samsung.com>, Jaekyun Lee <jkyun.lee@samsung.com>
Uploaders: Sunil Behera <sunil.behera@samsung.com>, Syam Sidhardhan <s.syam@samsung.com>
Build-Depends: debhelper (>= 5), libglib2.0-dev, libdbus-glib-1-dev, libvconf-dev
Standards-Version: 3.7.2
Homepage: N/A

Package: bluetooth-tools
Architecture: any
Section: utils
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: bluetooth-dev-tool
Breaks: bluetooth-dev-tool
Replaces: bluetooth-dev-tool
Description: Tools and scripts for Bluetooth stack
 Tools for Bluetooth
