# this Unit set Bluetooth Address, some application use the address although bluetooth doesn't turn on.
# especially, OSP API use it as such way.
#

[Unit]
Description=Generate Bluetooth Address
ConditionPathExists=/usr/etc/bluetooth/bt-set-addr.sh

[Service]
Type=oneshot
SmackProcessLabel=System
ExecStart=/usr/etc/bluetooth/bt-set-addr.sh
RemainAfterExit=yes

[Install]
WantedBy=bluetooth.target

